# Dependencies
node_modules

# Build output
dist
dev-dist
.vite

# Cache & logs
.eslintcache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing / coverage
coverage
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# Editor metadata
.vscode/
.idea/

# OS clutter
.DS_Store
Thumbs.db


# Local Netlify folder
.netlify
